.item-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}
.cart-items{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    background-color: #160563;
    display: flex;
    flex-wrap: wrap; /* Permite que se acomoden a la siguiente fila si hay muchos */
    justify-content: center; /* Centra horizontalmente */
    gap: 4rem; /* Espacio entre los productos */
}

.btn-container {
    display: flex;
    align-items: center;    /* centra horizontalmente */
    justify-content: center;/* centra verticalmente si tiene altura */
    gap: 1rem;              /* espacio entre los botones */
    margin-top: 0;
}

.total-pagar {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
.btn {
    margin-left: 15px;
    font-size: 0.8rem;
    padding: 0rem 0.1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width:fit-content;
    white-space: nowrap;
    display: inline-block;
}
.btn2 {
    margin-right: 15px;
    font-size: 0.8rem;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width:fit-content;
    white-space: nowrap;
    display: inline-block;
    padding: 0rem 0.1rem;
    height: 25px;
}
.action-buttons {
    padding-left: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espacio entre los botones */
    align-items: center;
    margin-top: 1rem;
}