.item-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.item-list-container .cart-items{
    display: flex;
    flex-wrap: wrap; /* Permite que se acomoden a la siguiente fila si hay muchos */
    justify-content: center; /* Centra horizontalmente */
    gap: 1rem; /* Espacio entre los productos */
}
.cart-items .item{
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    width: 250px;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column; /* uno debajo del otro */
    align-items: center;    /* centra horizontalmente */
    justify-content: center;/* centra verticalmente si tiene altura */
    gap: 1rem;              /* espacio entre los botones */
    margin-top: 2rem;
}

.total-pagar {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}
.btn {
    margin-left: 15px;
    font-size: 0.8rem;
    padding: 0rem 0.1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width:fit-content;
    white-space: nowrap;
    display: inline-block;
}
.btn2 {
    margin-right: 15px;
    font-size: 0.8rem;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width:fit-content;
    white-space: nowrap;
    display: inline-block;
    padding: 0rem 0.1rem;
    height: 25px;
}