.item-list-container {
    width: 100%;
    text-align: center;
    margin: 2rem;
}
.btn-container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.total-pagar {
    width: 100%;
    text-align:left;
}
.btn {
    margin-left: 15px;
    font-size: 0.8rem;
    padding: 0rem 0.1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width:fit-content;
    white-space: nowrap;
    display: inline-block;
}
.btn2 {
    margin-right: 15px;
    font-size: 0.8rem;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width:fit-content;
    white-space: nowrap;
    display: inline-block;
    padding: 0rem 0.1rem;
    height: 25px;
}