nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}
nav ul li a:hover {
    text-decoration: underline;
}

.in-cart {
    background-color: red;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 50%;
    padding: 0.25em 0.5em;
    display: inline-block;
    min-width: 20px;
    text-align: center;
    margin-left: 0.25rem;
    color: white;
}