/*section {
  display: flex;
  justify-content: center;
  padding: 40px;
  background: #0d022e;/* fondo general oscuro 
}
*/
.product-form {
  width: 100%;
  max-width: 500px;
  background: #060356;
  padding: 2px 40px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgb(3, 1, 97);
  font-family: "Inter", Arial, sans-serif;
  color: #e0e0e0;/*color de texto principal */
}

.product-form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #f5f5f5;
  font-size: 1.5rem;
}

.product-form div {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.product-form label {
  margin-bottom: 3px;
  font-weight: 600;
  color: #bbb; /* texto m치s suave*/
}

.product-form input,
.product-form textarea {
  padding: 2px 12px;
  font-size: 15px;
  border: 1px solid #333;
  border-radius: 6px;
  background-color: #2a2a2a;
  color: #f1f1f1;
  transition: all 0.2s ease-in-out;
}

.product-form input::placeholder,
.product-form textarea::placeholder {
  color: #888;
}

.product-form input:focus,
.product-form textarea:focus {
  outline: none;
  border-color: #007bff;
  background-color: #242424;
}

.product-form textarea {
  resize: vertical;
  min-height: 80px;
}

.error {
  color: #ff4c4c;           /* rojo visible*/
  font-size: 0.85rem;       /* texto m치s peque침o*/
  margin-top: 1px;          /* separaci칩n del input */
  margin-left: 2px;
  font-weight: 500;
}


.btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  background: #007bff;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
}

.btn:hover {
  background: #3399ff;
  transform: scale(1.02);
}

.btn:disabled {
  background: #555;
  cursor: not-allowed;
}