nav {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente el ul */
    margin-bottom: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color: blue;
    border-radius: 5px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
nav ul li a:hover {
    background-color: darkblue;
}
nav li {
    margin: 0;
    padding: 0;
}

.in-cart {
    background-color: red;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 50%;
    padding: 0.25em 0.5em;
    display: inline-block;
    min-width: 20px;
    text-align: center;
    margin-left: 0.25rem;
    color: white;
}