nav {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente el ul */
    margin-bottom: 0;
    padding: 1rem 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0 0.5rem 0.1rem 0.5rem;
    background-color: blue;
    border-radius: 5px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
nav ul li a:hover {
    background-color: darkblue;
}
nav li {
    margin: 0;
    padding: 0;
}

.in-cart {
    background-color: rgb(1, 32, 10);
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    border: 2px solid rgb(1, 32, 10);
}