.item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.item-list a {
    width: 100%;
    max-width: 300px;
    border: 1px solid #1c19dd;
    border-radius: 8px;
    overflow: hidden;
    max-width: 300px;
    margin: 0 auto;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    background-color: rgb(15, 3, 82);
}